
  .financial-summary__text {
    color: $color-subtitle-default;
    font-size: 1.8rem;
  }

  .financial-summary__value {
    color: $color-title-default;
    font-size: 2.4rem;
  }

  .financial-summary__item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .financial-summary__title {
    color: $color-title-default;
    font-weight: 500;

  }

  .financial__icons {
    height: 100px;
    width: 100px;
  }