@import '/src/assets/styles/base/_variables';

.header {
    background-color: #FFFFFF;
    margin-top: 30px;
    margin-right: 20px;
    border-radius: 25px;
}

#app {
    background-color: #EAEEEA;
}

.main {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}

.main-center {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.investiments-card, .spending-card {
    background-color: white;
    width: 48%;
    height: 350px;
    margin-top: 20px;
    border-radius: 25px;
  }

  .investiments-card__title, .speding-card__title, .monthly-summary__title{
    padding: 15px 30px;
    color: $color-title-default;
    font-weight: 400;
  }