@import '/src/assets/styles/base/_variables';

.main-grid {
    display: flex;
    flex-direction: column;
    padding: 3rem 2rem;
}

.dashboard__categories  {
    display: flex;
    justify-content: space-between;
}

.dashboard__categories > * {
    width: 47%;
}

.investiments-card, .spending-card {
    background-color: white;
    border-radius: 2rem;
  }

  .investiments-card__title, .speding-card__title, .monthly-summary__title{
    color: $color-title-default;
    font-weight: 400;
  }