@import '/src/assets/styles/base/_variables.scss';

.transactions-content__title{
  color: $color-title-default;
  font-size: 2.4rem;
}

.transactions-content__subtitle {
  color: $color-subtitle-default;
  font-weight: 600;
  font-size: 1.8rem;
}

.second-content {
  display: flex;
  justify-content: space-between;
}

.transactions-content  {
  padding: 2rem 5rem;
  background-color: white;
  border-radius: 2rem;
}

.second-content__btn {
  background-color: #1A74CC;
  border-radius: 1rem;
  border: none;
  color: white;
  padding: 1.5rem 2rem;
}

table {
  border-collapse: collapse;
}

thead tr {
  border-bottom: solid 1px black;
}

th, td {
}

.transactions-table {
  color: $color-subtitle-default;
  width: 100%;
  margin-top: 5rem;
}

.transactions-table__head {
  font-size: 1.4rem;
}